.option {
  letter-spacing: 1px;
  text-align: right;
}

.option td {
  padding: 4px 10px;
}

.option td:hover {
  cursor: pointer;
}

.strike {
  background: rgba(255, 255, 255, 0.1);
}

.strike:hover {
  pointer-events: none;
}

.option:nth-child(even) {
  background-color: #14141e;
}

.option:nth-child(odd) {
  background-color: #08080c;
}
