.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'options graph graph'
    'footer footer footer';
}

.header {
  grid-area: header;
}

.options-board {
  grid-area: options;
}

.graph {
  grid-area: graph;
}

.footer {
  grid-area: footer;
}
